@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';
@import '../../../assets/styles/_variable.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    .content {
        p,
        h5 {
            color: white;
        }
    }
    .profile {
        h5 > a {
            color: white;
        }
    }
    background-color: #252636;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: #252636;
    font-size: 0.925rem;
}

#wrapper {
    margin-left: 0px;
    transition: all 0.3s ease-in-out;
}

#wrapper.fullwidth {
    margin-left: 0;
}

.statistics .box {
    // background-color: rgb(128, 212, 203)
}

a {
    color: #2a2b3c;
    &:hover {
        text-decoration: none;
        color: #2a2b3c;
    }
}
.statistics .box p {
    color: #252636;
}
.sidebar {
    background-color: #252636;
    width: 100px;
    border-right: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 9999999;
}

.sidebar .close-aside {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    color: #252636;
}

.sidebar .sidebar-header {
    border-bottom: 1px solid #2a2b3c;
}

.sidebar .sidebar-header h5 a {
    color: #252636;
}

.sidebar .sidebar-header p {
    color: #252636;
    font-size: 0.825rem;
}

.sidebar .search .form-control ~ i {
    color: #252636;
    right: 40px;
    top: 22px;
}

.sidebar > ul > li {
    padding: 0.7rem 1.75rem;
}

.sidebar ul > li > a {
    color: #9ca3af;
    text-decoration: none;
}

.sidebar ul > li > a > .num {
    line-height: 0;
    border-radius: 3px;
    font-size: 14px;
    padding: 0px 5px;
}

.sidebar ul .opened > a:after {
    transform: rotate(-90deg);
}

.sidebar ul .sidebar-dropdown {
    padding-top: 10px;
    padding-left: 30px;
    display: none;
}
.sidebar ul .sidebar-dropdown.active {
    display: block;
}

.sidebar ul .sidebar-dropdown > li > a {
    font-size: 0.85rem;
    padding: 0.5rem 0;
    display: block;
}
/* End dropdown menu */

.show-sidebar {
    transform: translateX(-270px);
}

@media (max-width: 767px) {
    .sidebar ul > li {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sidebar .search {
        padding: 10px 0 10px 30px;
    }
}

.welcome {
    color: #252636;
}

.welcome .content {
    // background-color: $dk-dark-bg;
}

.welcome p {
    color: #252636;
}

.statistics {
    color: #252636;
}

.statistics .box {
    // background-color: $dk-dark-bg;
    // background-color: #a88d98;
}

.statistics .box i {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.statistics .box p {
    color: $dk-gray-400;
}

.charts .chart-container {
    border-radius: 20px;
    background-color: $dk-dark-bg;
}

.charts .chart-container h3 {
    color: white;
}

.admins .box .admin {
    background-color: $dk-dark-bg;
}

.admins .box h3 {
    color: $dk-gray-300;
}

.admins .box p {
    color: $dk-gray-400;
}
.side-nav-div {
    width: 220px;
}

/** --------------------------------
 -- statis
-------------------------------- */
.statis {
    color: $dk-gray-100;
}

.statis .box {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.statis .box h3:after {
    content: '';
    height: 2px;
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.12);
    display: block;
    margin-top: 10px;
}

.statis .box i {
    position: absolute;
    height: 70px;
    width: 70px;
    font-size: 22px;
    padding: 15px;
    top: -25px;
    left: -25px;
    background-color: rgba(255, 255, 255, 0.15);
    line-height: 60px;
    text-align: right;
    border-radius: 50%;
}

.main-color {
    color: #ffc107;
}

.navbar {
    background-color: $navbar-bg-color !important;
    border: none !important;
}
.navbar .dropdown-menu {
    right: auto !important;
    left: 0 !important;
}
.navbar .navbar-nav > li > a {
    color: #eee !important;
    line-height: 55px !important;
    padding: 0 10px !important;
}
.navbar .navbar-brand {
    color: #fff !important;
}
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #eee !important;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
    background-color: transparent !important;
    color: #fff !important;
}

.navbar .navbar-brand {
    line-height: 55px !important;
    padding: 0 !important;
}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {
    color: #fff !important;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin: 0 !important;
}
@media (max-width: 767px) {
    .navbar > .container-fluid .navbar-brand {
        margin-left: 15px !important;
    }
    .navbar .navbar-nav > li > a {
        padding-left: 0 !important;
    }
    .navbar-nav {
        margin: 0 !important;
    }
    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border: none !important;
    }
}

.navbar .navbar-nav > li > a {
    float: left !important;
}
.navbar .navbar-nav > li > a > span:not(.caret) {
    background-color: #e74c3c !important;
    border-radius: 50% !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px !important;
    font-size: 11px !important;
    position: relative !important;
    top: -10px !important;
    right: 5px !important;
}
.dropdown-menu > li > a {
    padding-top: 5px !important;
    padding-right: 5px !important;
}
.navbar .navbar-nav > li > a > i {
    font-size: 18px !important;
}

@media (max-width: 767px) {
    #wrapper {
        margin: 0 !important;
    }
    .statistics .box {
        margin-bottom: 25px !important;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #ccc !important;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff !important;
    }
    .navbar .navbar-toggle {
        border: none !important;
        color: #eee !important;
        font-size: 18px !important;
    }
    .navbar .navbar-toggle:focus,
    .navbar .navbar-toggle:hover {
        background-color: transparent !important;
    }
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #3c3f58;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.icon {
    font-size: 30px;
    color: black;
    &.heart-icon {
        color: red;
    }
    &.cal-icon {
        color: rgba(255, 106, 0, 0.724);
    }
    &.time-icon {
        color: green;
    }
    &.map-icon {
        color: #3521b2d7;
    }
}
.box-wrapper {
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	max-width: 330px;
    max-height: 230px;
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
    transition: all ease 0.3s;
    &:hover {
		scale: 1.03;
        box-shadow: rgb(21, 12, 6) 0px 20px 30px -10px;
    }
    &.cal {
        &:hover {
            box-shadow: rgb(217, 127, 58) 0px 20px 30px -10px;
        }
    }
    &.time {
        &:hover {
            box-shadow: rgba(75, 146, 47, 0.731) 0px 20px 30px -10px;
        }
    }
    &.heart {
        &:hover {
            box-shadow: rgba(235, 42, 42, 0.943) 0px 20px 30px -10px;
        }
    }
    &.map {
        &:hover {
            box-shadow: rgba(95, 139, 222, 0.943) 0px 20px 30px -10px;
        }
    }
	&.box-details{
		max-width: 400px;
		max-height: 150px;
		min-height: 150px;
		flex-direction: row !important;
		align-items: flex-start;
		justify-content: flex-start;
		.icon-wrap{
			    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;


			figure{
				height: 70px;
				width: 85px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.icon-info{
			margin-left: 20px;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
.sidebar ul > li > a {
    display: inline-block;
    svg {
        transition: all ease 0.3s;
        &:hover {
            fill: white;
        }
    }
}
.charts .chart-container canvas {
    width: 400px !important;
    height: 400px !important;
}
.heading {
    padding: 50px 150px;
    border-bottom: 1px solid #eee;
}
